spring:
  application:
    name: user-service

  data:
    mongodb:
      uri: ${MONGODB_URI}
#      auto-index-creation: true

server:
  port: 8081

jwt:
  secret: ${JWT_SECRET}
  expiration-ms: 86400000

logging:
  level:
    com.archsense: DEBUG